<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>РАСХОД</title>
</head>
<body>

<h2 class="active">ПОЛЬЗОВАТЕЛЬ: {{ username }}</h2>

<div>
    <h2>Курс: {{ name_kurs }} </h2>
    <table>
        <tr>
            <th>По списку:</th>
            <th>На лицо: </th>
            <th>Наряд: </th>
            <th>Болен: </th>
            <th>Увольнение: </th>
            <th>Отпуск: </th>
        </tr>
        <tr>
            <td>{{ poSpisku }}</td>
            <td>{{ naLitso }}</td>
            <td>{{ naryad }}</td>
            <td>{{ bolnye }}</td>
            <td>{{ uvolnenie }}</td>
            <td>{{ otpusk }}</td>
            <td><a href="{% url 'edit' param1=name_kurs %}"> Измeнить </a></td>
        </tr>
    </table>
</div>


</body>
</html>