<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ИЗМЕНИЕ В РАСХОДЕ</title>
</head>
<body class="container">
    <h2>Изменить расход {{ name_kurs }} курса </h2>
    <form method="POST" action="{% url 'edit' param1=name_kurs %}">
        {% csrf_token %}
        <table>
            <tr>
                <th>По списку:</th>
                <th>На лицо: </th>
                <th>Наряд: </th>
                <th>Болен: </th>
                <th>Увольнение: </th>
                <th>Отпуск: </th>
            </tr>
            <tr>
                <td><input type="text" name="poSpisku" required/></td>
                <td><input type="text" name="naLitso" required/></td>
                <td><input type="text" name="naryad" required/></td>
                <td><input type="text" name="bolnye" required/></td>
                <td><input type="text" name="uvolnenie" required/></td>
                <td><input type="text" name="otpusk" required/></td>
            </tr>
        </table>
        <input type="submit" value="Сохранить" >
    </form>

    <form method="POST" action="{% url 'edit' param1=name_kurs %}">
        <table>
            <tr>
                <th>Наряд: </th>
                <th>Болен: </th>
                <th>Увольнение: </th>
                <th>Отпуск: </th>
            </tr>
            <tr>
                <td>
                        {% csrf_token %}
                        {{ form_naryads.as_p }}
                </td>
                <td>
                        {% csrf_token %}
                        {{ form_bolnyes.as_p }}
                </td>
                <td>{{ form_uvolnenies.as_p }}
                <td>{{ form_otpusks.as_p }}
            </tr>
        </table>
                    <input type="submit" value="Сохранить" >
    </form>



    <h2>Старый расход {{ name_kurs }} курса </h2>
    <table>
        <tr>
            <th>По списку:</th>
            <th>На лицо: </th>
            <th>Наряд: </th>
            <th>Болен: </th>
            <th>Увольнение: </th>
            <th>Отпуск: </th>
        </tr>
        <tr>
            <td>{{ poSpisku }}</td>
            <td>{{ naLitso }}</td>
            <td>{{ naryad }}</td>
            <td>{{ bolnye }}</td>
            <td>{{ uvolnenie }}</td>
            <td>{{ otpusk }}</td>
        </tr>
    </table>
    <h2> </h2>

    <table>
        <thead>
            <tr>
                <th>Наряд:      </th>
                <th>Увольнение: </th>
                <th>Болен:      </th>
                <th>Отпуск:     </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{% if information_of_naryads %} {{ information_of_naryads }} {% endif %}</td>  <!--1-->
                <td>{% if information_of_uvolnenies %} {{ information_of_uvolnenies }} {% endif %}</td>
                <td>{% if information_of_bolnyes %} {{ information_of_bolnyes }} {% endif %}</td>
                <td>{% if information_of_otpusks %} {{ information_of_otpusks }} {% endif %}</td>
            </tr>
            <tr>
                <td>{% if information_of_naryads_2 %} {{ information_of_naryads_2 }} {% endif %}</td>  <!--2-->
                <td>{% if information_of_uvolnenies_2 %} {{ information_of_uvolnenies_2 }} {% endif %}</td>
                <td>{% if information_of_bolnyes_2 %} {{ information_of_bolnyes_2 }} {% endif %}</td>
                <td>{% if information_of_otpusks_2 %} {{ information_of_otpusks_2 }} {% endif %}</td>
            </tr>
            <tr>
                <td>{% if information_of_naryads_3 %} {{ information_of_naryads_3 }} {% endif %}</td>  <!--3-->
                <td>{% if information_of_uvolnenies_3 %} {{ information_of_uvolnenies_3 }} {% endif %}</td>
                <td>{% if information_of_bolnyes_3 %} {{ information_of_bolnyes_3 }} {% endif %}</td>
                <td>{% if information_of_otpusks_3 %} {{ information_of_otpusks_3 }} {% endif %}</td>
            </tr>
            <tr>
                <td>{% if information_of_naryads_4 %} {{ information_of_naryads_4 }} {% endif %}</td>  <!--4-->
                <td>{% if information_of_uvolnenies_4 %} {{ information_of_uvolnenies_4 }} {% endif %}</td>
                <td>{% if information_of_bolnyes_4 %} {{ information_of_bolnyes_4 }} {% endif %}</td>
                <td>{% if information_of_otpusks_4 %} {{ information_of_otpusks_4 }} {% endif %}</td>
            </tr>
            <tr>
                <td>{% if information_of_naryads_5 %} {{ information_of_naryads_5 }} {% endif %}</td>  <!--5-->
                <td>{% if information_of_uvolnenies_5 %} {{ information_of_uvolnenies_5 }} {% endif %}</td>
                <td>{% if information_of_bolnyes_5 %} {{ information_of_bolnyes_5 }} {% endif %}</td>
                <td>{% if information_of_otpusks_5 %} {{ information_of_otpusks_5 }} {% endif %}</td>
            </tr>
            <tr>
                <td>{% if information_of_naryads_6 %} {{ information_of_naryads_6 }} {% endif %}</td>  <!--6-->
                <td>{% if information_of_uvolnenies_6 %} {{ information_of_uvolnenies_6 }} {% endif %}</td>
                <td>{% if information_of_bolnyes_6 %} {{ information_of_bolnyes_6 }} {% endif %}</td>
                <td>{% if information_of_otpusks_6 %} {{ information_of_otpusks_6 }} {% endif %}</td>
            </tr>
            <tr>
                <td>{% if information_of_naryads_7 %} {{ information_of_naryads_7 }} {% endif %}</td>  <!--7-->
                <td>{% if information_of_uvolnenies_7 %} {{ information_of_uvolnenies_7 }} {% endif %}</td>
                <td>{% if information_of_bolnyes_7 %} {{ information_of_bolnyes_7 }} {% endif %}</td>
                <td>{% if information_of_otpusks_7 %} {{ information_of_otpusks_7 }} {% endif %}</td>
            </tr>
            <tr>
                <td>{% if information_of_naryads_8 %} {{ information_of_naryads_8 }} {% endif %}</td>  <!--8-->
                <td>{% if information_of_uvolnenies_8 %} {{ information_of_uvolnenies_8 }} {% endif %}</td>
                <td>{% if information_of_bolnyes_8 %} {{ information_of_bolnyes_8 }} {% endif %}</td>
                <td>{% if information_of_otpusks_8 %} {{ information_of_otpusks_8 }} {% endif %}</td>
            </tr>
            <tr>
                <td>{% if information_of_naryads_9 %} {{ information_of_naryads_9 }} {% endif %}</td>  <!--9-->
                <td>{% if information_of_uvolnenies_9 %} {{ information_of_uvolnenies_9 }} {% endif %}</td>
                <td>{% if information_of_bolnyes_9 %} {{ information_of_bolnyes_9 }} {% endif %}</td>
                <td>{% if information_of_otpusks_9 %} {{ information_of_otpusks_9 }} {% endif %}</td>
            </tr>
            <tr>
                <td>{% if information_of_naryads_10 %} {{ information_of_naryads_10 }} {% endif %}</td>  <!--10-->
                <td>{% if information_of_uvolnenies_10 %} {{ information_of_uvolnenies_10 }} {% endif %}</td>
                <td>{% if information_of_bolnyes_10 %} {{ information_of_bolnyes_10 }} {% endif %}</td>
                <td>{% if information_of_otpusks_10 %} {{ information_of_otpusks_10 }} {% endif %}</td>
            </tr>
            <tr>
                <td>{% if information_of_naryads_11 %} {{ information_of_naryads_11 }} {% endif %}</td>  <!--11-->
                <td>{% if information_of_uvolnenies_11 %} {{ information_of_uvolnenies_11 }} {% endif %}</td>
                <td>{% if information_of_bolnyes_11 %} {{ information_of_bolnyes_11 }} {% endif %}</td>
                <td>{% if information_of_otpusks_11 %} {{ information_of_otpusks_11 }} {% endif %}</td>
            </tr>
            <tr>
                <td>{% if information_of_naryads_12 %} {{ information_of_naryads_12 }} {% endif %}</td>  <!--12-->
                <td>{% if information_of_uvolnenies_12 %} {{ information_of_uvolnenies_12 }} {% endif %}</td>
                <td>{% if information_of_bolnyes_12 %} {{ information_of_bolnyes_12 }} {% endif %}</td>
                <td>{% if information_of_otpusks_12 %} {{ information_of_otpusks_12 }} {% endif %}</td>
            </tr>
            <tr>
                <td>{% if information_of_naryads_13 %} {{ information_of_naryads_13 }} {% endif %}</td>  <!--13-->
                <td>{% if information_of_uvolnenies_13 %} {{ information_of_uvolnenies_13 }} {% endif %}</td>
                <td>{% if information_of_bolnyes_13 %} {{ information_of_bolnyes_13 }} {% endif %}</td>
                <td>{% if information_of_otpusks_13 %} {{ information_of_otpusks_13 }} {% endif %}</td>
            </tr>
            <tr>
                <td>{% if information_of_naryads_14 %} {{ information_of_naryads_14 }} {% endif %}</td>  <!--14-->
                <td>{% if information_of_uvolnenies_14 %} {{ information_of_uvolnenies_14 }} {% endif %}</td>
                <td>{% if information_of_bolnyes_14 %} {{ information_of_bolnyes_14 }} {% endif %}</td>
                <td>{% if information_of_otpusks_14 %} {{ information_of_otpusks_14 }} {% endif %}</td>
            </tr>
            <tr>
                <td>{% if information_of_naryads_15 %} {{ information_of_naryads_15 }} {% endif %}</td>  <!--15-->
                <td>{% if information_of_uvolnenies_15 %} {{ information_of_uvolnenies_15 }} {% endif %}</td>
                <td>{% if information_of_bolnyes_15 %} {{ information_of_bolnyes_15 }} {% endif %}</td>
                <td>{% if information_of_otpusks_15 %} {{ information_of_otpusks_15 }} {% endif %}</td>
            </tr>
            <tr>
                <td>{% if information_of_naryads_16 %} {{ information_of_naryads_16 }} {% endif %}</td>  <!--16-->
                <td>{% if information_of_uvolnenies_16 %} {{ information_of_uvolnenies_16 }} {% endif %}</td>
                <td>{% if information_of_bolnyes_16 %} {{ information_of_bolnyes_16 }} {% endif %}</td>
                <td>{% if information_of_otpusks_16 %} {{ information_of_otpusks_16 }} {% endif %}</td>
            </tr>
            <tr>
                <td>{% if information_of_naryads_17 %} {{ information_of_naryads_17 }} {% endif %}</td>  <!--17-->
                <td>{% if information_of_uvolnenies_17 %} {{ information_of_uvolnenies_17 }} {% endif %}</td>
                <td>{% if information_of_bolnyes_17 %} {{ information_of_bolnyes_17 }} {% endif %}</td>
                <td>{% if information_of_otpusks_17 %} {{ information_of_otpusks_17 }} {% endif %}</td>
            </tr>
            <tr>
                <td>{% if information_of_naryads_18 %} {{ information_of_naryads_18 }} {% endif %}</td>  <!--18-->
                <td>{% if information_of_uvolnenies_18 %} {{ information_of_uvolnenies_18 }} {% endif %}</td>
                <td>{% if information_of_bolnyes_18 %} {{ information_of_bolnyes_18 }} {% endif %}</td>
                <td>{% if information_of_otpusks_18 %} {{ information_of_otpusks_18 }} {% endif %}</td>
            </tr>
            <tr>
                <td>{% if information_of_naryads_19 %} {{ information_of_naryads_19 }} {% endif %}</td>  <!--19-->
                <td>{% if information_of_uvolnenies_19 %} {{ information_of_uvolnenies_19 }} {% endif %}</td>
                <td>{% if information_of_bolnyes_19 %} {{ information_of_bolnyes_19 }} {% endif %}</td>
                <td>{% if information_of_otpusks_19 %} {{ information_of_otpusks_19 }} {% endif %}</td>
            </tr>
            <tr>
                <td>{% if information_of_naryads_20 %} {{ information_of_naryads_20 }} {% endif %}</td>  <!--20-->
                <td>{% if information_of_uvolnenies_20 %} {{ information_of_uvolnenies_20 }} {% endif %}</td>
                <td>{% if information_of_bolnyes_20 %} {{ information_of_bolnyes_20 }} {% endif %}</td>
                <td>{% if information_of_otpusks_20 %} {{ information_of_otpusks_20 }} {% endif %}</td>
            </tr>
            <tr>
                <td>{% if information_of_naryads_21 %} {{ information_of_naryads_21 }} {% endif %}</td>  <!--21-->
                <td>{% if information_of_uvolnenies_21 %} {{ information_of_uvolnenies_21 }} {% endif %}</td>
                <td>{% if information_of_bolnyes_21 %} {{ information_of_bolnyes_21 }} {% endif %}</td>
                <td>{% if information_of_otpusks_21 %} {{ information_of_otpusks_21 }} {% endif %}</td>
            </tr>
            <tr>
                <td>{% if information_of_naryads_22 %} {{ information_of_naryads_22 }} {% endif %}</td>  <!--22-->
                <td>{% if information_of_uvolnenies_22 %} {{ information_of_uvolnenies_22 }} {% endif %}</td>
                <td>{% if information_of_bolnyes_22 %} {{ information_of_bolnyes_22 }} {% endif %}</td>
                <td>{% if information_of_otpusks_22 %} {{ information_of_otpusks_22 }} {% endif %}</td>
            </tr>
            <tr>
                <td>{% if information_of_naryads_23 %} {{ information_of_naryads_23 }} {% endif %}</td>  <!--23-->
                <td>{% if information_of_uvolnenies_23 %} {{ information_of_uvolnenies_23 }} {% endif %}</td>
                <td>{% if information_of_bolnyes_23 %} {{ information_of_bolnyes_23 }} {% endif %}</td>
                <td>{% if information_of_otpusks_23 %} {{ information_of_otpusks_23 }} {% endif %}</td>
            </tr>
            <tr>
                <td>{% if information_of_naryads_24 %} {{ information_of_naryads_24 }} {% endif %}</td>  <!--24-->
                <td>{% if information_of_uvolnenies_24 %} {{ information_of_uvolnenies_24 }} {% endif %}</td>
                <td>{% if information_of_bolnyes_24 %} {{ information_of_bolnyes_24 }} {% endif %}</td>
                <td>{% if information_of_otpusks_24 %} {{ information_of_otpusks_24 }} {% endif %}</td>
            </tr>
            <tr>
                <td>{% if information_of_naryads_25 %} {{ information_of_naryads_25 }} {% endif %}</td>  <!--25-->
                <td>{% if information_of_uvolnenies_25 %} {{ information_of_uvolnenies_25 }} {% endif %}</td>
                <td>{% if information_of_bolnyes_25 %} {{ information_of_bolnyes_25 }} {% endif %}</td>
                <td>{% if information_of_otpusks_25 %} {{ information_of_otpusks_25 }} {% endif %}</td>
            </tr>
            <tr>
                <td>{% if information_of_naryads_26 %} {{ information_of_naryads_26 }} {% endif %}</td>  <!--26-->
                <td>{% if information_of_uvolnenies_26 %} {{ information_of_uvolnenies_26 }} {% endif %}</td>
                <td>{% if information_of_bolnyes_25 %} {{ information_of_bolnyes_25 }} {% endif %}</td>
                <td>{% if information_of_otpusks_26 %} {{ information_of_otpusks_26 }} {% endif %}</td>
            </tr>
            <tr>
                <td>{% if information_of_naryads_27 %} {{ information_of_naryads_27 }} {% endif %}</td>  <!--27-->
                <td>{% if information_of_uvolnenies_27 %} {{ information_of_uvolnenies_27 }} {% endif %}</td>
                <td>{% if information_of_bolnyes_27 %} {{ information_of_bolnyes_27 }} {% endif %}</td>
                <td>{% if information_of_otpusks_27 %} {{ information_of_otpusks_27 }} {% endif %}</td>
            </tr>
            <tr>
                <td>{% if information_of_naryads_28 %} {{ information_of_naryads_28 }} {% endif %}</td>  <!--28-->
                <td>{% if information_of_uvolnenies_28 %} {{ information_of_uvolnenies_28 }} {% endif %}</td>
                <td>{% if information_of_bolnyes_28 %} {{ information_of_bolnyes_28 }} {% endif %}</td>
                <td>{% if information_of_otpusks_28 %} {{ information_of_otpusks_28 }} {% endif %}</td>
            </tr>
            <tr>
                <td>{% if information_of_naryads_29 %} {{ information_of_naryads_29 }} {% endif %}</td>  <!--29-->
                <td>{% if information_of_uvolnenies_29 %} {{ information_of_uvolnenies_29 }} {% endif %}</td>
                <td>{% if information_of_bolnyes_29 %} {{ information_of_bolnyes_29 }} {% endif %}</td>
                <td>{% if information_of_otpusks_29 %} {{ information_of_otpusks_29 }} {% endif %}</td>
            </tr>
            <tr>
                <td>{% if information_of_naryads_30 %} {{ information_of_naryads_30 }} {% endif %}</td>  <!--30-->
                <td>{% if information_of_uvolnenies_30 %} {{ information_of_uvolnenies_30 }} {% endif %}</td>
                <td>{% if information_of_bolnyes_30 %} {{ information_of_bolnyes_30 }} {% endif %}</td>
                <td>{% if information_of_otpusks_30 %} {{ information_of_otpusks_30 }} {% endif %}</td>
            </tr>
            <tr>
                <td>{% if information_of_naryads_31 %} {{ information_of_naryads_31 }} {% endif %}</td>  <!--31-->
                <td>{% if information_of_uvolnenies_31 %} {{ information_of_uvolnenies_31 }} {% endif %}</td>
                <td>{% if information_of_bolnyes_31 %} {{ information_of_bolnyes_31 }} {% endif %}</td>
                <td>{% if information_of_otpusks_31 %} {{ information_of_otpusks_31 }} {% endif %}</td>
            </tr>
            <tr>
                <td>{% if information_of_naryads_32 %} {{ information_of_naryads_32 }} {% endif %}</td>  <!--32-->
                <td>{% if information_of_uvolnenies_32 %} {{ information_of_uvolnenies_32 }} {% endif %}</td>
                <td>{% if information_of_bolnyes_32 %} {{ information_of_bolnyes_32 }} {% endif %}</td>
                <td>{% if information_of_otpusks_32 %} {{ information_of_otpusks_32 }} {% endif %}</td>
            </tr>
            <tr>
                <td>{% if information_of_naryads_33 %} {{ information_of_naryads_33 }} {% endif %}</td>  <!--33-->
                <td>{% if information_of_uvolnenies_33 %} {{ information_of_uvolnenies_33 }} {% endif %}</td>
                <td>{% if information_of_bolnyes_33 %} {{ information_of_bolnyes_33 }} {% endif %}</td>
                <td>{% if information_of_otpusks_33 %} {{ information_of_otpusks_33 }} {% endif %}</td>
            </tr>
            <tr>
                <td>{% if information_of_naryads_34 %} {{ information_of_naryads_34 }} {% endif %}</td>  <!--34-->
                <td>{% if information_of_uvolnenies_34 %} {{ information_of_uvolnenies_34 }} {% endif %}</td>
                <td>{% if information_of_bolnyes_34 %} {{ information_of_bolnyes_34 }} {% endif %}</td>
                <td>{% if information_of_otpusks_34 %} {{ information_of_otpusks_34 }} {% endif %}</td>
            </tr>
            <tr>
                <td>{% if information_of_naryads_35 %} {{ information_of_naryads_35 }} {% endif %}</td>  <!--35-->
                <td>{% if information_of_uvolnenies_35 %} {{ information_of_uvolnenies_35 }} {% endif %}</td>
                <td>{% if information_of_bolnyes_35 %} {{ information_of_bolnyes_35 }} {% endif %}</td>
                <td>{% if information_of_otpusks_35 %} {{ information_of_otpusks_35 }} {% endif %}</td>
            </tr>
            <tr>
                <td>{% if information_of_naryads_36 %} {{ information_of_naryads_36 }} {% endif %}</td>  <!--36-->
                <td>{% if information_of_uvolnenies_36 %} {{ information_of_uvolnenies_36 }} {% endif %}</td>
                <td>{% if information_of_bolnyes_36 %} {{ information_of_bolnyes_36 }} {% endif %}</td>
                <td>{% if information_of_otpusks_36 %} {{ information_of_otpusks_36 }} {% endif %}</td>
            </tr>
            <tr>
                <td>{% if information_of_naryads_37 %} {{ information_of_naryads_37 }} {% endif %}</td>  <!--37-->
                <td>{% if information_of_uvolnenies_37 %} {{ information_of_uvolnenies_37 }} {% endif %}</td>
                <td>{% if information_of_bolnyes_37 %} {{ information_of_bolnyes_37 }} {% endif %}</td>
                <td>{% if information_of_otpusks_37 %} {{ information_of_otpusks_37 }} {% endif %}</td>
            </tr>
            <tr>
                <td>{% if information_of_naryads_38 %} {{ information_of_naryads_38 }} {% endif %}</td>  <!--38-->
                <td>{% if information_of_uvolnenies_38 %} {{ information_of_uvolnenies_38 }} {% endif %}</td>
                <td>{% if information_of_bolnyes_38 %} {{ information_of_bolnyes_38 }} {% endif %}</td>
                <td>{% if information_of_otpusks_38 %} {{ information_of_otpusks_38 }} {% endif %}</td>
            </tr>
            <tr>
                <td>{% if information_of_naryads_39 %} {{ information_of_naryads_39 }} {% endif %}</td>  <!--39-->
                <td>{% if information_of_uvolnenies_39 %} {{ information_of_uvolnenies_39 }} {% endif %}</td>
                <td>{% if information_of_bolnyes_39 %} {{ information_of_bolnyes_39 }} {% endif %}</td>
                <td>{% if information_of_otpusks_39 %} {{ information_of_otpusks_39 }} {% endif %}</td>
            </tr>
            <tr>
                <td>{% if information_of_naryads_40 %} {{ information_of_naryads_40 }} {% endif %}</td>  <!--40-->
                <td>{% if information_of_uvolnenies_40 %} {{ information_of_uvolnenies_40 }} {% endif %}</td>
                <td>{% if information_of_bolnyes_40 %} {{ information_of_bolnyes_40 }} {% endif %}</td>
                <td>{% if information_of_otpusks_40 %} {{ information_of_otpusks_40 }} {% endif %}</td>
            </tr>
        </tbody>
    </table>

    <h2 class="active"><a href="{% url 'base' param1=username param2=position %}"> НА ГЛАВНУЮ </a></h2>
</body>
</html>
