<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ИЗМЕНИЕ В РАСХОДЕ</title>
</head>
<body class="container">
    <h2>Новый расход {{ name_kurs }} курса </h2>
  <form method="POST" action="{% url 'edit' param1=name_kurs %}">
    {% csrf_token %}
    <p>
      <label>По списку: </label><br>
      <input type="text" name="poSpisku" />
    </p>
    <p>
      <label>На лицо: </label><br>
      <input type="text" name="naLitso" />
    </p>
    <p>
      <label>Наряд: </label><br>
      <input type="text" name="naryad" />
    </p>
    <p>
      <label>Болен: </label><br>
      <input type="text" name="bolnye" />
    </p>
    <p>
      <label>Увольнение: </label><br>
      <input type="text" name="uvolnenie" />
    </p>
    <p>
      <label>Отпуск: </label><br>
      <input type="text" name="otpusk" />
    </p>
    <input type="submit" value="Сохранить" >
  </form>

    <h2>Старый расход {{ name_kurs }} курса </h2>
    <table>
        <tr>
            <th>По списку:</th>
            <th>На лицо: </th>
            <th>Наряд: </th>
            <th>Болен: </th>
            <th>Увольнение: </th>
            <th>Отпуск: </th>
        </tr>
        <tr>
            <td>{{ poSpisku }}</td>
            <td>{{ naLitso }}</td>
            <td>{{ naryad }}</td>
            <td>{{ bolnye }}</td>
            <td>{{ uvolnenie }}</td>
            <td>{{ otpusk }}</td>
        </tr>
    </table>
</body>
</html>