<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>РЕГИСТРАЦИЯ</title>
</head>
<body>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Вход </h2>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label >Должность:</label>
            {{ form.selection }}
        </div>
        <div class="form-group">
            <label >Пароль:</label>
            <input type="password" name="password" placeholder="Пароль">
        </div>
        <button type="submit" class="btn btn-primary">Войти</button>
    </form>
  </div>
</div>


{% if err %}
<h2 class="active"> НЕ ЗНАЕШЬ ПАРОЛЬ, НУ НЕ ВВОДИ </h2>
{% endif %}
</body>
</html>
